@import './colors.scss';

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type='email'],
input[type='password'] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  padding: 0 40px 0 8px;
}

button {
  background: $primary;
  color: $white;
  border-radius: 8px;
  line-height: 60px;
  font-size: 16px;
  border: none;

  &:hover {
    opacity: 0.9;
  }
}
